body {
    width: 100%;
    margin: 0;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (max-width: 1200px) {
    .nav ul {
        gap: 20px;
    }
    .container-center {
        width: 70%;
    }
    .cards-container {
        flex-wrap: wrap;
    }
    .card {
        width: 200px; 
    }
}

@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        height: auto;
        gap: 5px;

    }
    .nav ul {
        flex-direction: column;
        text-align: center;
        width: 100%;
        padding: 0;
        margin: 0;

    }
    .nav ul li {
        margin-left: 0;
        margin-bottom: 10px; 
    }

    .container-center {
        width: 90%;
    }
    .search-form {
        flex-direction: column;
    }
    #search {
        border-radius: 8px;
        margin-bottom: 10px;
    }
    .cards-container {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .card {
        width: 100%; 
    }
}

@media (max-width: 480px) {
    .header {
        text-align: center;
    }
    .icon {
        width: 150px;
        height: auto;
    }
    .nav ul {
        gap: 3px;
    }
    .cards-container {
        flex-direction: column;
        gap: 15px;
    }
    .card {
        width: 90%; 
    }
    .container-center {
        width: 100%;
        padding: 0 15px;
    }
    .proveedor {
        width: 100%;
    }
    .search-form button {
        font-size: 14px;
    }
}


.header{
    background-color:deeppink;
    top: 0; left: 0; right: 0;
    width: 100%; 
    }


.icon {
    width: 200px;
    height: 60;
    object-fit: contain; 
}


.nav {
    background-color: #0f0f2b;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    width: 100%;
    padding: 0 20px;  
    box-sizing: border-box;
    min-height: 100px;
}

nav a {
    color: #ffffff; 
    text-decoration: none;
}
.nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Contenedor principal */
.container-main{
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url("../images/man2.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
}
.container-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 50%;
    height: 50%;
    color: #ffffff;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
}

/* Input de búsqueda */
#search {
    border: 1px solid #ccc; 
    padding: 10px; 
    border-radius: 8px 0 0 8px;
    width: 100%;
    max-width: 400px; 
    outline: none;
    font-size: 16px;
    color: black;
    background-color: white; 
}

/* Efecto de foco en el input */
#search:focus {
    border-color: #ff5b5b; 
}

/* Botón de búsqueda */
.search-form button {
    background-color: #ff5b5b; 
    color: white; 
    border: none; 
    padding: 10px; 
    border-radius: 0 8px 8px 0; 
    font-size: 16px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

/* Hover en el botón */
.search-form button:hover {
    background-color: #e04a4a; 
}


.extra-container{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.cards-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
}
.card{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 15px;
    width: 150px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.card img{
    width: 100%;
    height: auto;
    object-fit: contain;
    margin: 0;
}

.footer{
    background-color: rgb(31 41 55);
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0; left: 0; right: 0;
    color: white;
    height: 50px;
}



/* Login Container */
.login-container {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #0f0f2b;
    padding: 40px;
    border-radius: 10px;
    color: white;
}

.form-container h2{
    text-align: center;
}

/* Input Fields */
.input-field {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #2e2e4f;
    color: white;
    box-sizing: border-box;
}

.input-field:focus {
    outline: none;
    border: 2px solid;
}

/* Remember Me and Forgot Link */
.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;
}

.checkbox {
    margin-right: 5px;
}

.forgot-link {
    color: #F64D08;
    text-decoration: none;
}

.forgot-link:hover {
    text-decoration: underline;
}

/* Login Button */
.login-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #CB1106;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.login-button:hover {
    background-color: #F64D08;
}

/* Register Link */
.register-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.register-link a {
    color: #F64D08;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

.proveedores-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#proveedores-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.proveedor {
    max-width: 20rem;
    background-color: #0f0f2b;
    border-radius: 0.375rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.proveedor:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.proveedor-title {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 8px;
}

.proveedor-rating {
    color: gold;
    font-size: 16px;
    margin-bottom: 8px;
}

.proveedor-category {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #ffffff;
}

.proveedor-city {
    font-size: 14px;
    color: #cccccc;
    margin-bottom: 16px;
}

.contact-button {
    display: inline-flex;
    align-items: center;
    padding: 0.75rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    text-align: center;
    color: white;
    background-color: #CB1106;
    border-radius: 0.375rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.contact-button:hover {
    background-color: #F64D08;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-button svg {
    margin-left: 0.5rem;
    width: 1.25rem;
    height: 1.25rem;
}
